# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\code\VAC_chinese_8_TE_gai_3004\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
